* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.mobile-ver {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  position: relative;
}
#icon-btn {
  border: none;
  background: none;
}
#icon-btn:hover {
  color: lightblue;
}
#icon-btn i {
  width: 100%;
}
.header ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  margin-bottom: -20px;
  padding: 0;
}
.header ul li:nth-child(2) {
  font-weight: bold;
}
.header ul li:hover {
  cursor: pointer;
}
.header button:last-child {
  border: none;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  padding: 8px 12px 8px;
  font-size: 11px;
  line-height: 11px;
  border: 1px solid rgb(50, 104, 145);
  font-weight: 700;
}
#input-box {
  position: absolute;
  left: 2em;
  border: none;
  border-bottom: 2px solid black;
  display: none;
  padding: 0 5px;
}
#input-btn {
  position: absolute;
  left: 17.4em;
  border: none;
  background-color: rgb(86, 123, 149);
  color: white;
  font-size: 13px;
  font-weight: bold;
  width: 30px;
  height: 26px;
  border-radius: 3px;
  display: none;
}
#input-btn:hover {
  background-color: rgb(61, 87, 105);
}
.head-line {
  margin-top: 0.4em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  border-bottom: 4px double black;
  height: 50px;
  flex-wrap: wrap;
}
.menus button {
  background: none;
  border: none;
  margin: 10px;
}
.menus button:hover {
  text-decoration: underline 2px;
  text-underline-offset: 4px;
}
.news {
  border-bottom: 1.4px solid black;
  padding: 10px 0;
  width: 99%;
  margin-left: 0px;
}

.error {
  text-align: center;
}

.page-num-btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.pagination a {
  border: none;
  color: black;
}
.page-link:hover {
  color: black;
  background: lightgray;
}
.active>.page-link {
  font-weight: bold;
  color: white;
  background-color: black;
}
.pagination a:active {
  background-color: gray;
  color: white;
}

@media (max-width:768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
  .mobile-ver {
    display: flex;
  }
  .pc-ver {
    display: none;
  }
  .head-line {
    scale: 0.5;
    width: 70%;
  }
  .header {
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
  }
  .header button {
    scale: 1.2;
    margin-left: 20px;
  }
  .header button:last-child {
    background: none;
    color: black;
    border: none;
    padding: 0;
    scale: 1.8;
    margin-right: 20px;
  }
  #open-menus {
    width: auto;
    height: auto;
    background: none;
    border: none;
  }
  #close-menus {
    cursor: pointer;
    margin: 0 auto;
  }
  #menu {
    position: fixed;
    z-index: 10;
  }
  .mobile-ver {
    display: block;
  }
  .date {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.8em;
    padding: 20px;
  }
  .date button {
    width: 175px;
    height: 32px;
    font-size: 12px;
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 14px;
    font-weight: bold;
    margin-top: -6.8px;
  }
  .menus {
    position: absolute;
    background-color: #e2e2e2;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0;
    width: 100%;
    margin: 0 -12px;
    display: none;
  }
  .search-area {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0;
    gap: 10px;
  }
  #input-box-mo {
    width: 50%;
    height: 26px;
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid black;
    padding: 0 5px;
  }
  #input-btn-mo {
    border: none;
    background-color: rgb(86, 123, 149);
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 26px;
    width: 40px;
    height: 26px;
    border-radius: 3px;
  }
}